@import "tailwindcss";

@theme {
  --color-brand-100: #FDE2E4;
  --color-brand-200: #FAD2E1;
  --color-brand-300: #E2ECE9;
  --color-brand-400: #BEE1E6;
  --color-brand-500: #DFE7FD;
}

body {
  font-family: 'Prompt', 'Noto Sans Thai', sans-serif;
  background-color: #F8F9FA;
  color: #333333;
}


@media print {
  .no-print { display: none !important; }
  @page { size: landscape; margin: 0cm; }
  body { 
    background: white !important; 
    -webkit-print-color-adjust: exact !important; 
    print-color-adjust: exact !important; 
    zoom: 0.65; 
  }
  .min-w-[800px] { min-width: 100% !important; }
  .overflow-x-auto { overflow: visible !important; }
}